### Nama: Divanda Shaffa A
#### NPM : 21083010031

##### Sumber data: The Boston Housing Dataset, merupakan kumpulan data yang berasal dari informasi yang dikumpulkan oleh layanan sensus AS mengenai perumahan di wilayah Boston MA.

##### Tujuan: Membandingkan performa dari tiap algoritma

In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv(r'C:\Users\shaff\Documents\diva\coolyeah semester 4\machine learning C\housing.csv')
df

     0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
0     0.02731   0.00   7.070  0  0.4690  6.4210  78...
1     0.02729   0.00   7.070  0  0.4690  7.1850  61...
2     0.03237   0.00   2.180  0  0.4580  6.9980  45...
3     0.06905   0.00   2.180  0  0.4580  7.1470  54...
4     0.02985   0.00   2.180  0  0.4580  6.4300  58...
..                                                 ...
500   0.06263   0.00  11.930  0  0.5730  6.5930  69...
501   0.04527   0.00  11.930  0  0.5730  6.1200  76...
502   0.06076   0.00  11.930  0  0.5730  6.9760  91...
503   0.10959   0.00  11.930  0  0.5730  6.7940  89...
504   0.04741   0.00  11.930  0  0.5730  6.0300  80...

[505 rows x 1 columns]

In [4]:
header = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV'] 
df = pd.read_csv('housing.csv', header=None, delim_whitespace=True, names=header)

df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [5]:
np.shape(df)

(506, 14)

In [6]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [7]:
df["CHAS"] = df["CHAS"].astype('category')

In [8]:
df.describe()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [9]:
df["CHAS"].value_counts()

0    471
1     35
Name: CHAS, dtype: int64

In [10]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [11]:
from sklearn import preprocessing
transformasi_min_max = preprocessing.MinMaxScaler()

In [12]:
target = 'MEDV'
x = df.drop('MEDV', axis=1)
y = df[target]
var_x = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']
x = pd.DataFrame(data=transformasi_min_max.fit_transform(x), columns=var_x)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size=0.70, random_state=1)  #disimpan ke 4 bagian ke tiap parameter
y_train

354    18.2
103    19.3
220    26.7
130    19.2
353    30.1
       ...
255    20.9
72     22.8
396    12.5
235    24.0
37     21.0
Name: MEDV, Length: 151, dtype: float64

In [15]:
#regresi linear

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

lin_model = LinearRegression()
lin_model.fit(x_train, y_train)

LinearRegression()

In [16]:
#regresi polynomial

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures
polynomial_features= PolynomialFeatures(degree=2)
x_poly=polynomial_features.fit_transform(x_train)

poly_model=LinearRegression()
poly_model.fit(x_poly, y_train)
x_poly_test=polynomial_features.fit_transform(x_test)

In [17]:
#model ridge dengan alpha=1

from sklearn.linear_model import Ridge

model_ridge=Ridge(alpha=1)
model_ridge.fit(x_train, y_train)

Ridge(alpha=1)

In [18]:
#regresi lasso

from sklearn.linear_model import Lasso

model_lasso=Lasso(alpha=1)
model_lasso.fit(x_train, y_train)

Lasso(alpha=1)

In [19]:
#evaluasi data testing dengan regresi linear
#evaluasi model untuk data training

y_train_pred = lin_model.predict(x_train)
rmse = (np.sqrt(mean_squared_error(y_train, y_train_pred)))
r2 = r2_score(y_train, y_train_pred)

print("Performa model untuk data training adalah")
print("-----------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model untuk data training adalah
-----------------------------------------
RMSE adalah 4.980768789994864
R2 adalah 0.7254441891569579

In [20]:
#evaluasi data testing dengan regresi linear
#evaluasi model untuk data testing

y_test_pred = lin_model.predict(x_test)
rmse = (np.sqrt(mean_squared_error(y_test, y_test_pred)))
r2 = r2_score(y_test, y_test_pred)

print("Performa model untuk data testing adalah")
print("-----------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model untuk data testing adalah
-----------------------------------------
RMSE adalah 4.87766589251071
R2 adalah 0.7094540602303245

In [21]:
#evaluasi data testing dengan regresi polynomial
#evaluasi model untuk data training

y_train_pred_poly = poly_model.predict(x_poly)
rmse = (np.sqrt(mean_squared_error(y_train, y_train_pred_poly)))
r2 = r2_score(y_train, y_train_pred_poly)

print("Performa model polinomial berderajat 2 untuk data training adalah")
print("-----------------------------------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model polinomial berderajat 2 untuk data training adalah
-----------------------------------------------------------------
RMSE adalah 1.9578353134918665
R2 adalah 0.9575780926638657

In [22]:
#evaluasi data testing dengan regresi polynomial
#evaluasi model untuk data testing

y_test_pred_poly = poly_model.predict(x_poly_test)
rmse = (np.sqrt(mean_squared_error(y_test, y_test_pred_poly)))
r2 = r2_score(y_test, y_test_pred_poly)

print("Performa model polinomial berderajat 2 untuk data testing adalah")
print("----------------------------------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model polinomial berderajat 2 untuk data testing adalah
----------------------------------------------------------------
RMSE adalah 12.810082555991949
R2 adalah -1.0039854781701432

In [23]:
#evaluasi data testing dengan regresi ridge
#evaluasi model untuk data training

y_train_pred_ridge = model_ridge.predict(x_train)
rmse = (np.sqrt(mean_squared_error(y_train, y_train_pred_ridge)))
r2 = r2_score(y_train, y_train_pred_ridge)

print("Performa model ridge untuk data training adalah")
print("-----------------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model ridge untuk data training adalah
-----------------------------------------------
RMSE adalah 5.157050627158621
R2 adalah 0.705665842038425

In [24]:
#evaluasi data testing dengan regresi ridge
#evaluasi model untuk data testing

y_test_pred_ridge = model_ridge.predict(x_test)
rmse = (np.sqrt(mean_squared_error(y_test, y_test_pred_ridge)))
r2 = r2_score(y_test, y_test_pred_ridge)

print("Performa model ridge untuk data testing adalah")
print("-----------------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model ridge untuk data testing adalah
-----------------------------------------------
RMSE adalah 4.7808135250163595
R2 adalah 0.7208778371246569

In [25]:
#evaluasi data testing dengan regresi lasso
#evaluasi model untuk data training

y_train_pred_lasso = model_lasso.predict(x_train)
rmse = (np.sqrt(mean_squared_error(y_train, y_train_pred_lasso)))
r2 = r2_score(y_train, y_train_pred_lasso)

print("Performa model lasso untuk data training adalah")
print("-----------------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model lasso untuk data training adalah
-----------------------------------------------
RMSE adalah 8.14041204183743
R2 adalah 0.26661731548896384

In [26]:
#evaluasi data testing dengan regresi lasso
#evaluasi model untuk data testing

y_test_pred_lasso = model_lasso.predict(x_test)
rmse = (np.sqrt(mean_squared_error(y_test, y_test_pred_lasso)))
r2 = r2_score(y_test, y_test_pred_lasso)

print("Performa model lasso untuk data testing adalah")
print("-----------------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model lasso untuk data testing adalah
-----------------------------------------------
RMSE adalah 7.707774930476879
R2 adalah 0.27448104703573784