##### Nama: Divanda Shaffa A(21083010031)
##### Kelas: Data Wrangling A

## STRINGS
##### Sebuah karakter / kalimat dan bisa berupa huruf atau angka. Dalam penulisannya selalu diapit oleh tanda petik satu atau tanda petik dua

In [2]:
str1 = "hi, im divanda"
str1

'hi, im divanda'

In [3]:
str2 = str1.replace("divanda", "taylor swift") 
str2

'hi, im taylor swift'

In [4]:
len(str1)

14

In [6]:
#index: menunjukkan suatu urutan lokasi dari data kita.
#index dimulai dari 0

str1[1]

'i'

In [8]:
#menampilkan indeks mulai 0 hingga 13

str2[0:13]

'hi, im taylor'

In [10]:
#mengeluarkan output dari huruf ke-0 hingga 5

str1[:5]

'hi, i'

In [11]:
#ini menunjukkan bahwa dimulai dari awal hingga huruf terakhir dan loncat 1huruf 

str2[::1]

'hi, im taylor swift'

In [13]:
#the print statement concantenates string with a space 

print("str1", "str2", "str3")

str1 str2 str3

In [14]:
#the print statements convertes all argument to string

print("str 1", 1.0, False, -1j)

str 1 1.0 False (-0-1j)

In [15]:
#string added with + are concantenated without space 

print("str1" + "str2" + "str3")

str1str2str3

In [88]:
#membuat semua huruf menjadi huruf kapital

contoh= "all of us are dead"
contoh.upper()

'ALL OF US ARE DEAD'

In [90]:
#membuat semua huruf menjadi huruf kecil

contoh= "ALL OF US ARE DEAD"
contoh.lower()

'all of us are dead'

In [91]:
#membuat hanya huruf awal yang kapital

contoh= "all of us are dead"
contoh.capitalize()

'All of us are dead'

In [101]:
#meghitung berapa kali karakter pada paramater muncul di kalimat atau huruf string.

contoh = "i don't wanna be somebody, just wanna be me"
print(contoh.count("wanna"))

2

In [102]:
#mencari karakter pada string dan jika karakter ada, akan memberikan output letak posisi pada string. Jika karakter tidak ada maka return -1.

contoh = "i love you three thousand"
print(contoh.find('love'))       
print(contoh.find('hate'))

2
-1

In [105]:
# Dengan parameter (start, end)

print(contoh.find('you', 5, 20))

7

In [106]:
#Mengecek apakah string ini berisi text dan numeric atau keduanya. Jika iya True.

contoh="hari ini suhu di Surabyaa mencapai 37 derajat celcius"
print(contoh.isalnum())

False

## List
##### Suatu tipe data yang digunakan untuk menyimpan data dan isinya bisa diubah-ubah (bersifat mutable) dan penulisannya harus diapit oleh tanda kurung siku

In [17]:
list1 = [3,5,76,3]
list1

[3, 5, 76, 3]

In [18]:
list1[0:1]

[3]

In [19]:
list1.append("blue")
list1

[3, 5, 76, 3, 'blue']

In [20]:
for i in list1:
    print(i)

3
5
76
3
blue

In [11]:
list2 = [31,32,33,33,33,34,35,35,36,37,38,39,40,40]
list2

[31, 32, 33, 33, 33, 34, 35, 35, 36, 37, 38, 39, 40, 40]

In [13]:
#loop list

list3 = ["apple", "banana", "cherry"]
for x in list3:
  print(x)

apple
banana
cherry

In [27]:
#in python 3 range generates an interator, which can be converted to a ist using 'list(....)'.
#it has no effect in python 2

list(range(start, stop, step))

#start dari angka 10 tetapi loncat 2 dan diakhiri hingga 30, maka 30 tidak termasuk

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [28]:
#membuat list yang dimulai dari -10 dan berakhir hingga 10, maka 10 tidak termasuk

list(range(-10, 10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
#convert a string to a list by type castinng:
a = "hello world"
s2=list(a)
s2

#membuat list berisi tiap huruf dari kata ber variabel "a"

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [33]:
#sorting lists
s2.sort()

print(s2)

#membuat list secara berurutan dimulai dari huruf atau karakter paling awal

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [39]:
#create a new empty lists
l=[]

#add an elements using 'append'
l.append("A")  #indeks 0
l.append("a")  #indeks 1
l.append("d")  #indeks 2

print(l)

['A', 'a', 'd']

In [40]:
#indeks 1 dan indeks 2
#mengganti huruf di indeks1, yaitu "a" dengan "p" dan indeks2, yaitu "d" dengan "p"

l[1] = "p"
l[2] = "p"

print(l)

['A', 'p', 'p']

In [42]:
#memasukkan elemen/karakter dengan spesifik ke tiap index dengan syntex "insert"

l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'i', 'n', 's', 'e', 'r', 't', 'A', 'p', 'p']

In [46]:
#remove first element using specific value using remove

l.remove("i")

print(l)

['n', 's', 'e', 'r', 't', 'i', 'n', 's', 'e', 'r', 't', 'p', 'p']

In [47]:
#remove an element at a specific location using del

del l[3]
del l[2]

print(l)

['n', 's', 't', 'i', 'n', 's', 'e', 'r', 't', 'p', 'p']

## Dictionaries
##### Tipe data yang digunakan untuk menyimpan data dalam bentuk pasangan key dan value. Syntax untuk dictionaries adalah key1:{value1, ....}:

In [6]:
dict1 = {"nama" : "divanda", "usia" : "20 tahun", "kelas" : "data wrangling A"}
dict1

{'nama': 'divanda', 'usia': '20 tahun', 'kelas': 'data wrangling A'}

In [28]:
dict2 = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

dict2

{'calories': [420, 380, 390], 'duration': [50, 40, 45]}

In [24]:
 #mengubah entri yang sudah ada
    
dict2['calories'] = 120, 180, 200;
dict2

{'calories': (120, 180, 200), 'duration': [50, 40, 45]}

In [29]:
#menghapus entri dengan key 'Name'

del dict2['duration'] 
dict2

{'calories': [420, 380, 390]}

In [30]:
#Memberikan panjang total Dictionary. Ini sama dengan jumlah item dalam Dictionary.

len(dict2)

1

In [31]:
#mengembalikan salinan Dictionary

dict2.copy()

{'calories': [420, 380, 390]}

In [32]:
#menghapus semua elemen Dictionary

dict2.clear()

In [33]:
#menghapus element dengan spesifik key 

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}

In [34]:
#mengembalikan semua nilai values dalam dict 

car.values()

dict_values(['Ford', 1964])

## Tugas
##### 1. Buat List 100 nomor random.
##### 2. Buat List baru dari List acak ini, dengan angka yang habis dibagi 3.
##### 3. Hitung panjang kedua List ini dan simpan selisihnya dalam variabel baru.
##### 4. Dengan menggunakan loop sebanyak 10 kali, lakukan langkah 1, 2, dan 3.
##### 5. Temukan rata-rata aritmatika.

In [36]:
from random import randint
from random import choice

In [37]:
from random import random
list1 = []

i=0
for i in range(100):
    bilangan = randint(1, 100)
    list1.append(bilangan)
    i+=1
    
print(list1)
print("\njumlah bilangan :", i)

[63, 33, 5, 5, 11, 37, 51, 54, 5, 52, 28, 60, 3, 59, 30, 6, 88, 27, 74, 1, 33, 48, 82, 74, 24, 4, 52, 53, 87, 40, 98, 81, 45, 96, 72, 95, 80, 55, 67, 27, 88, 60, 81, 19, 69, 65, 51, 10, 13, 77, 84, 45, 16, 11, 40, 42, 73, 90, 6, 67, 3, 56, 30, 52, 35, 14, 23, 58, 91, 18, 45, 15, 34, 42, 92, 34, 16, 16, 17, 60, 33, 25, 42, 60, 19, 26, 63, 49, 66, 56, 87, 44, 35, 9, 50, 48, 35, 27, 34, 91]

jumlah bilangan : 100

In [38]:
#membuat List baru dari List acak dengan angka yang habis dibagi 3.
list2 = []

for i in list1:
    if i % 3 == 0:
        list2.append(i)

count = len([num for num in list2 if num % 3 == 0])

print(list2)
print("\njumlah bilangan yang habis dibagi 3 : ", count)

[63, 33, 51, 54, 60, 3, 30, 6, 27, 33, 48, 24, 87, 81, 45, 96, 72, 27, 60, 81, 69, 51, 84, 45, 42, 90, 6, 3, 30, 18, 45, 15, 42, 60, 33, 42, 60, 63, 66, 87, 9, 48, 27]

jumlah bilangan yang habis dibagi 3 :  43

In [83]:
#menghitung panjang kedua List dan menyimpan selisihnya dalam variabel baru.
panjanglist1 = len(list1)
panjanglist2 = len(list2)

selisih = panjanglist1 - panjanglist2

print("Panjang list 1 :", panjanglist1)
print("Panjang list 2 :", panjanglist2)
print("Selisih : ", selisih)

Panjang list 1 : 100
Panjang list 2 : 37
Selisih :  63

In [39]:
#menggunakan loop sebanyak 10 kali, lakukan langkah 1, 2, dan 3.
listacak = []
list3 = []

for i in range(10):
    x = choice(list1)
    print(x)
    listacak.append(x)
    if x % 3 == 0:
        list3.append(x)

a = len(listacak)
b = len(list3)
c = a-b

92
14
5
26
28
18
34
13
74
88

In [40]:
print("\nList acak : ",list3)
print("Jumlah elemen list yang abis dibagi 3 :",b)
print("Selisih antara jumlah elemen listacak dengan jumlah elemen list3 : ", c)

List acak :  [18]
Jumlah elemen list yang abis dibagi 3 : 1
Selisih antara jumlah elemen listacak dengan jumlah elemen list3 :  9

In [41]:
#menemukan rata-rata aritmatika
rata = sum(listacak) / len(listacak)
print("Rata-rata: ",rata)

Rata-rata:  39.2

## Exercise week 3

In [50]:
#bagaimana menampilkan data dari HTML ke dataframe agar dapat ditampilkan sesuai dengan yang diinginkan?

import pandas as pd

url = 'https://www.bps.go.id/indicator/168/954/1/banyaknya-desa-kelurahan-menurut-jenis-bencana-alam-dalam-tiga-tahun-terakhir.html'
df = pd.read_html(url)
df

[    0   1
 0 NaN NaN,
              0   1
 0  DATA SENSUS NaN,
     0         1   2          3
 0 NaN  Facebook NaN  Instagram
 1 NaN   Twitter NaN    Youtube,
                 Provinsi  \
                 Provinsi
                 Provinsi
 0                   ACEH
 1         SUMATERA UTARA
 2         SUMATERA BARAT
 3                   RIAU
 4                  JAMBI
 5       SUMATERA SELATAN
 6               BENGKULU
 7                LAMPUNG
 8   KEP. BANGKA BELITUNG
 9              KEP. RIAU
 10           DKI JAKARTA
 11            JAWA BARAT
 12           JAWA TENGAH
 13         DI YOGYAKARTA
 14            JAWA TIMUR
 15                BANTEN
 16                  BALI
 17   NUSA TENGGARA BARAT
 18   NUSA TENGGARA TIMUR
 19      KALIMANTAN BARAT
 20     KALIMANTAN TENGAH
 21    KALIMANTAN SELATAN
 22      KALIMANTAN TIMUR
 23      KALIMANTAN UTARA
 24        SULAWESI UTARA
 25       SULAWESI TENGAH
 26      SULAWESI SELATAN
 27     SULAWESI TENGGARA
 28             GORONTALO
 29        SULAWESI BARAT
 30                MALUKU
 31          MALUKU UTARA
 32           PAPUA BARAT
 33                 PAPUA
 34             INDONESIA

    Banyaknya Desa/Kelurahan Menurut Jenis Bencana Alam dalam Tiga Tahun Terakhir (Desa)  \
                                                                           Tanah Longsor
                                                                                    2021
 0                                                 198
 1                                                 483
 2                                                 222
 3                                                  21
 4                                                  57
 5                                                 103
 6                                                  81
 7                                                  70
 8                                                   1
 9                                                  25
 10                                                  7
 11                                              1 288
 12                                              1 190
 13                                                 59
 14                                                511
 15                                                 96
 16                                                105
 17                                                 44
 18                                                610
 19                                                 66
 20                                                 24
 21                                                 74
 22                                                 74
 23                                                 42
 24                                                218
 25                                                133
 26                                                251
 27                                                 46
 28                                                 65
 29                                                144
 30                                                 58
 31                                                 80
 32                                                 72
 33                                                146
 34                                              6 664

                                                                     \
     Banjir Banjir Bandang Gempa Bumi Tsunami Gelombang Pasang Laut
       2021           2021       2021    2021                  2021
 0    1 435             81        493       2                   106
 1      732             52        964       4                    78
 2      342             65        364       0                    57
 3      455              1          0       0                    15
 4      476             17         36       0                     2
 5      380             36         49       0                     3
 6      171             15         66       0                    14
 7      328             23         47       0                    35
 8       59              0          0       0                    17
 9       61              1          0       0                    69
 10     109              0          1       0                     5
 11   1 193            100        601       0                    91
 12   1 249             69        114       0                   128
 13      50              1         52       0                    12
 14   1 176             96      2 449       4                    87
 15     419             41        158       1                    39
 16      39              5         79       0                    34
 17     187             54        100       0                    44
 18     570            151        246       0                   218
 19     864             22          0       0                    48
 20     735              9          0       0                    12
 21     929             31          0       0                    30
 22     343              5          6       0                     9
 23     200              0         18       0                     3
 24     288             37        349       0                    95
 25     567             57        556       0                   117
 26     620             52        272       0                    39
 27     240             10         43       0                    58
 28     259             24         95       0                    37
 29     125              7        498       0                    35
 30     153              2        106       0                   165
 31     270             20        589       0                   124
 32     138              0        318       0                    30
 33     204              9         57       0                    57
 34  15 366          1 093      8 726      11                 1 913

                                                                               \
    Angin Puyuh / Angin Puting Beliung / Topan Gunung Meletus Kebakaran Hutan
                                          2021           2021            2021
 0                                         108              1              43
 1                                         483             82              59
 2                                         248              0              18
 3                                          53              0             194
 4                                          44              0              16
 5                                          90              0              64
 6                                          17              0               4
 7                                         158              0              11
 8                                          77              0              14
 9                                          40              0              57
 10                                          0              0               1
 11                                        412              0              76
 12                                        619             26              49
 13                                         84              3               4
 14                                        486             74              50
 15                                        107              0               8
 16                                         46              0               8
 17                                         65              0              19
 18                                      1 219             54             144
 19                                         53              0             135
 20                                         16              0              66
 21                                         70              0              60
 22                                         26              0              52
 23                                          3              0              13
 24                                        107              0              25
 25                                         85              0              29
 26                                        293              0              22
 27                                        104              0              12
 28                                         34              0               9
 29                                         26              0               8
 30                                         54              0              26
 31                                         42              1              16
 32                                          6              0              12
 33                                         11              0              14
 34                                      5 286            241           1 338


    Kekeringan Tidak Ada Bencana Alam
          2021                   2021
 0         173                  4 406
 1         127                  3 827
 2          43                    513
 3          51                  1 224
 4          16                  1 001
 5          98                  2 644
 6          19                  1 195
 7          30                  2 093
 8           0                    265
 9          27                    241
 10          0                    152
 11        442                  3 081
 12        278                  5 637
 13         31                    233
 14        156                  4 655
 15         77                    914
 16          2                    482
 17         88                    748
 18        454                  1 487
 19         75                  1 158
 20         37                    789
 21         35                    973
 22         32                    628
 23          6                    248
 24         24                  1 075
 25         42                    984
 26         60                  1 863
 27         16                  1 852
 28         57                    352
 29         22                    105
 30         26                    798
 31         12                    423
 32          5                  1 482
 33          9                  5 142
 34      2 570                 52 670  ]

In [57]:
 # install PyPDF2
!pip install PyPDF2

Collecting PyPDF2
  Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
Collecting typing_extensions>=3.10.0.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Installing collected packages: typing-extensions, PyPDF2
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 3.7.4.3
    Uninstalling typing-extensions-3.7.4.3:
      Successfully uninstalled typing-extensions-3.7.4.3
Successfully installed PyPDF2-3.0.1 typing-extensions-4.5.0

In [61]:
# importing all the required modules
import PyPDF2

# creating a pdf reader object
reader = PyPDF2.PdfReader(r'C:\Users\shaff\Downloads\data-banjir-2021-di-wilayah-kubu-raya.pdf')

# print the number of pages in pdf file
print(len(reader.pages))

# print the text of the first page
print(reader.pages[0].extract_text())

2
DATA SEBARAN BANJIR
NO DESA KECAMATAN KETINGGIAN BANJIR JUMLAH KK JIWA YANG TERDAMPAK
1Pulau Limbung Sungai Raya 80cm 775 2365
2Muara Baru Sungai Raya 80cm 145 513
3Pulau Jambu sungai raya 80cm 280 884
4Gunung Tamang sungai raya 80cm 559 1986
5Kali Bandung Sungai Raya 80cm 203 589
6Sungai Asam Sungai Raya 80cm 770 3277
8Betuah Terentang 80cm 262 1187
9Teluk Bayur Terentang 80cm 250 618
10 permata Terentang 80cm 247 627
11 Teluk Empening Terentang 80cm 202 677
12 Radak Satu Terentang 80cm 300 1202
13 Radak dua Terentang 80cm 130 425
14 Terentang Hilir Terentang 80cm 145 513
15 Radak Baru Terentang 80cm 197 630
17 Tanjung Beringin Batu Ampar 70cm 220 660
18 Medan Mas Batu Ampar 70cm 150 423